<style>
		.logo{
			width: 103px;
			margin-top: 0;
			margin-bottom: 0;
			margin-right: auto;
			margin-left: auto;
		}
		.logo01{
			border-radius: 55px;
			box-shadow: 5px 5px 5px 3px #aaa;
		}
		.pimg{
			width: 20px;
			margin-top: 0;
			margin-bottom: 0;
			margin-left: auto;
			margin-right: auto;
		}
		.pimg_01{
			box-shadow: 20px 20px 20px 10px #aaa;
			border-radius: 5px;
		}
		.ptext h3{
			color: #F24747;
		}
		.ptext p{
			color: #C7DA1B;
		}

	</style>